$maroon: #411717;
$gold: #f5b447;
$blue: #c3d3e0;
$gray: #f5f6f7;
$green: #90c46a;
$red: #ce8585;

*{box-sizing: border-box;}

h1, h2 {
  font-family: 'Merriweather';
}

.card-title{
  margin-left: .5em;
}

.header-image{
  width: 85%;
}

.icons{
  padding: 100px 0px;
  
  #icons-heading {
    padding: 0px 0px 30px 0px;
    font-family: 'Merriweather';
  }
  
  ul{
    list-style: none;
    margin: 0;
  }
  
  li{
    display: inline-block;
    margin: 2em 4em;

    div{
      width: 200px;

      .icon-caption {
        padding: 20px 0px 0px 0px;
      }
    }
  }

  img{
    height: 200px;
    width: 200px;
    padding: 0 1em;
  }
}

#bigImage{
  background-image: url("/img/kids_guitar.png");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;

  #who-we-are {
    color: white;
    margin: 2em;
  }

  .image-text {
    color: white;
    padding: 1em;
    font-family: 'Merriweather';
  }

}

.signUp{
  margin: 7em auto;

  h1{
    padding-bottom: 1em;
  }
}

