$maroon: #411717;
$gold: #f5b447;
$blue: #c3d3e0;
$gray: #f5f6f7;
$green: #90c46a;
$red: #ce8585;

*{box-sizing: border-box;}

main {
  width: 100%;
}

h1, h2 {
  font-family: 'Merriweather';
  font-size: 3vw;
}

.sweg {
  background-color: $gold;

  .card-title{
    margin-left: .5em;
    font-size: 5vw;
  }

  .header-image{
    width: 85%;
  }
} 

.lessons {
  width: 100%;

  #icons-heading {
    padding: 10px 0px 30px 30px;
    font-family: 'Merriweather';
    font-size: 5vw;
  }
  
  #pic {
    width: 75vh;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 2vh;
    text-align: center;

    .screen-shots{
      height: 90%;
      width: 90%;
    }

    .icon-caption {
      font-family: 'Merriweather';
      font-size: 2vw;   
      margin-top: .5em; 
      text-align: center;
    }

  }
}

.examples {
  background-color: $gold;
  width: 100%;

  #icons-heading {
    padding: 10px 0px 30px 30px;
    font-family: 'Merriweather';
    font-size: 5vw;
  }

  #pic {
    width: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
    text-align: center; 

    .screen-shots{
      height: 90%;
      width: 90%;
    }

    .icon-caption {
      font-family: 'Merriweather';
      font-size: 5vw;   
      margin-top: .5em; 
    }
  }
}


#bigImage{
  background-image: url("/img/kids_guitar.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  position: relative;

  #who-we-are {
    color: white;
    margin: 1em;
    top: 50%; 
    left: 50%;
    font-size: 6vw;
  }

  .image-text {
    top: 50%;
    color: white;
    padding: 1em;
    font-family: 'Merriweather';
    vertical-align: middle;
    font-size: 5vw; 
  }

}

.signUp{
  margin: 7em auto;

  h1{
    padding-bottom: 1em;
  }
}

.card-body {
  background-color: $gold;
}

#about {
  height: 600px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  h1 {
    padding-top: 1em;
    font-size: 10vw;
  }

  p {
    font-size: 3vw;
    margin-bottom: 5em; 

  }
}
