$maroon: #411717;
$gold: #f5b447;
$blue: #c3d3e0;
$gray: #f5f6f7;
$green: #90c46a;
$red: #ce8585;

*{box-sizing: border-box;}

h1, h2 {
  font-family: 'Merriweather';
}

.card-title{
  margin-left: .5em;
}

.header-image{
  width: 85%;
}

// .icons{
//   padding: 100px 0px;
  
#icons-heading {
    padding: 10px 0px 30px 30px;
    font-family: 'Merriweather';
}
  
//   ul{
//     list-style: none;
//     margin: 0;
//   }
  
//   li{
//     display: inline-block;
//     margin: 2em 4em;

//     div{
//       width: 200px;

//       .icon-caption {
//         padding: 20px 0px 0px 0px;
//       }
//     }
//   }
// }

#bigImage{
  background-image: url("/img/kids_guitar.png");
  background-size: cover;
  background-position: center;
  height: 950px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  position: relative;

  #who-we-are {
    color: white;
    margin: 1em;
    top: 50%; 
    left: 50%;
  }

  .image-text {
    top: 50%;
    color: white;
    padding: 1em;
    font-family: 'Merriweather';
    vertical-align: middle;
    // line-height: 30px;
  }

}

.icon-caption {
  font-family: 'Merriweather';
}

.signUp{
  margin: 7em auto;

  h1{
    padding-bottom: 1em;
  }
}


.screen-shots{
  height: 90%;
  width: 90%;
}
.column {
  float: left;
  width: 33.33%;  
}

.sweg {
  background-color: $gold;
}

.card-body {
  background-color: $gold;
  
}

.center-guy {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.examples {
  background-color: $gold;
}

#about {
  height: 700px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#mission {
  height: 700px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
