.quiz-overview-container{
    height: 600px;

    .quiz-overview{
        text-align: left;
        margin-top: 15%;

        p{
        margin: 2em 0 2em 0;
        }
    }

}

.location-quiz-container{
    display: flex;

    .screenshot-container{
        flex-basis: 50%;
        height: 90vh;
        
        img{
            height: 80%;
            text-align: center;
        }

        .angry-birds-pic img {
            margin-top: 15%;
            width: 95%;
        }    
    }

}

.reveal-container, .text{
    flex-basis: 50%;
    height: 100%;
    margin-top: 15%;

    .text{
        text-align: left;

        .buttons-container{
            display: flex;
    
            #one, #two, #three{
                flex: 1;
                margin: .5em;
            }
    
        }
    }
}


.button{
    margin-right: 1em;
}

.results-container{
    text-align: center;
    margin-top: 25%;
    p{

        font-size: 1.5em;
    }


}
