
body{
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}

.cards-container{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.card{
  display: flex;
  width: 45%;
  height: 150px;
  margin: 4px;
  border-radius: 25px;
  border: none;
  /* background-color: #FF847C */
}

.card h2 {
  font-size: 1.25rem;
  padding: 1em;
  border-radius: 25px 25px 25px 0;
  /*background-color: rgba(0,0,0,.75) */
  

}


h2,a,a:hover{
  color: white;
  text-decoration: none;
  
}

.cards-container::after{
  content: "";
  flex: auto;
  margin-left: 100px;
}

.toolbar{
  height: 75px;
}

.toolbar{
  font-size: 50px;
  text-align: right;
  margin-right: .5em;
}

.toolbar h1{
  color: white;
  margin-top: 1em;
}
