textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.landing-text{
margin: 1em;
font-size: 1.75em;
}

.landing-text-container li{
  margin-top: 1em;
  text-align: left;
  font-size: 1em;
}

.landing-text-container ol{
  text-align: left;
}

.discover-body .discuss-button{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
}


.quiz-body img{
  display: block;
  height: 50%;
  margin: auto;
}

html, body{
  overflow-x: hidden;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #303c71;
  user-select: none;
  position: relative;
}

.discover-body p {
 width: 80%;
 color: white;
 text-align: left;
 font-size: 1em;
 vertical-align: bottom;
}

.emoji{
  font-size: 3em;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.discover-body p,.discover-body h1{
  margin-left:  25px;
  margin-bottom: 20px;
}

#discover-lock{
  height: 75px;
  width: 75px;
  display: block;
  margin: auto;
}


#home-button{
  margin: 20px;
  height: 30px;
  width: 30px;
}

.cards-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 1em;
}

.card{
  flex-basis: 40%;
  height: 150px;
  margin: 6px;
  border-radius: 25px;
  border: none;
  /* background-color: #FF847C */
}

.card h2 {
  font-size: 1.25rem;
  padding: 1em;
  border-radius: 25px 25px 25px 0;
  /*background-color: rgba(0,0,0,.75) */
  

}


h2,a,a:hover{
  color: white;
  text-decoration: none; 
  font-weight: bold;
}

.cards-container::after{
  content: "";
  flex: auto;
  margin-left: 100px;
}

.story-toolbar{
  text-align: left;
  height: 75px;
  background-color: black;
}


.toolbar{
  font-size: 100%;
  text-align: left;
  height: 75px;
  display: flex;
  align-items:center;
}

#toolbar-icon{
  height: 75%;
}

.discover-body h1{
  color: white;
  margin-top: 10px
}

.question-body{
  width: 100vw;
  height: 100vh;
  
}

.question-body h1, .question-body h2{
  padding: .5em 0em .5em 1em;
  color: white;
}

.question-body h2{
  color:white;
}

.quiz-answer{
  background-color: white;
  font-size: 1.5em;
  width: 85%;
  margin: 1em auto;
  padding: .5em;
  border-radius: 10px;

}


.discuss-card{
  width: 100%;
  height: 450px;
  margin: auto;
  margin-top: 1em;
  border-radius: 10px;
  padding: 1em;
  color: white;
}

.discuss-prompt{
  font-size: 1.5em;
  font-weight: bold;
}

.discuss-card textarea{
  margin-top: 50px;
  width: 90%;
  height:  200px;
  padding: 1em;
  border-radius: 10px;
  resize: none;
}

.discuss-card button, .final-body button{
  background-color: white;
  font-size: 1.5em;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid black;
}

.final-body img{
  margin-top: 100px;
}

.final-body p,.final-body li, label{
  margin: 1em;
  font-size: 1.5em;
}

.final-body button{
  width: initial;
  margin-top: 1em;
  margin-bottom: 2em;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.final-body{
 background-color: white;
}

.final-body input{
  margin-left: 1em;
  padding: .5em;
  width: 50%;
}

.final-body-center{
width: 100%;
text-align: center;
}

.final-body h1{
  margin: 1em;
  text-align: center;
}

.quiz-answer-body button{ 
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

.quiz-answer-text{
  background-color: white;
  padding: 1em;
  margin: 1em;
  font-size: 1.25em;
}

.quiz-answer-selected{
  box-shadow: 5px 10px #303030;
}

.quiz-answer-selected span{
  background: #303030 !important;
  color: white;
}

.quiz-answer span{
  background: #eeedf0;
  padding: .5em .75em .5em .75em;
  border-radius: 10px;
}

.quiz-answer-body span{
  font-size: 2em;
}

.quiz-answer-body{
  text-align: center;
}

.quiz-answer-body img{
  width: 90%;
}

.discuss-button{
  border: 5px solid white;
  border-radius: 20px;
  color: white;
  margin: auto;
  margin-top: 0;
  text-align: center;
  padding: 1em;
  width: 30%;
}

.discover-body{
  padding-top: 2em;
}

.quiz-final{
  color: white;
  padding: 1em;
  text-align: center;
}

#reset{
  margin-top: 50px;
}

#final-image{
  width: 80%;
}



/* Minimum width */
@media (max-width: 380px) {

  .landing-text{
    margin: 1em;
    font-size: 1.25em;
    }
    
    .landing-text-container li{
      margin-top: 1em;
      text-align: left;
      font-size: 1em;
    }

    .question-body h2{
      font-size: 1.5em;
    }
    .question-body h1{
      font-size: 1.5em;
    }

    .quiz-answer {
      font-size: 1.25em;
    }

}

