/* #landingBody {
    background-image: url(landguy.jpg); 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden
}

#landingBody img {
    position: relative;
    left: 50px;
    top: 125px;
    width: 70px;
    background-position: center;
} */

#landingBody h2 {
    position: absolute;
    top: 17%;
    left: 34%;
}

#landingBody #future {
    position: absolute;
    left: 135px;
    top: 10px;
}

#d1 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

#ultra {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

#circles {
    position: absolute;
    top: 93%;
    left: 43%;
}

.layer {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 35%;
    width: 100%;
    height: 20%;
}

.wrapper {
    top: 10%;
    position: relative;
}

#logo {
    height: 85px;
    position: absolute;
    top: 17%;
    left: 15%;
}

#map {
    top: 22%;
    left: 34%;
    position: absolute;
}

#futures {
    position: absolute;
    top: 25%;
    left: 34%;
}
