#landingBody {
    /* The image used */
    background-image: url(landguy.jpg); 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    position: relative;
    left: 50px;
    top: 125px;
    width: 70px;
    background-position: center;
}

h1 {
    position: relative;
    left: 135px;
    top: 30px;
}

h6 {
    position: relative;
    left: 135px;
    top: 20px;
}

#future {
    position: relative;
    left: 135px;
    top: 10px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

#other {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}
#circles {
    position: relative;
    top: 69%;
    left: 43%;
}
