$maroon: #411717;
$gold: #f5b447;
$blue: #c3d3e0;
$gray: #f5f6f7;
$green: #90c46a;
$red: #ce8585;


*{box-sizing: border-box;}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  height: 4em;
}

.flex-container {
  justify-content: space-between;
  display: flex;
}

.header{


  ul{
    list-style: none;
    margin: 0;
  }
  li{
    display: inline-block;
    vertical-align: middle;
    padding-left: 2em;
  }

  a, p{
    color: $maroon;
    font-weight: bold;
    text-decoration:  none;
  }

  .selected{
    color: $gold;
  }

  p{
    padding-top: .5em;
    padding-right: 1em;
  }


}

// .bigimage{
//   background-image: url("/img/kids1.jpg");
//   background-size: cover;
//   background-position: center;
//   height: 700px;
//   width: 100%;
//   padding: 2em;

//   h1{
//     padding: 1em;
//     margin: 0;
//     color: darkgray;
//     font-size: 2em;
//     color: $gold;
//   }

//   .text-container{
//     width: 75%;
//     background-color: rgba(0, 0, 0, 0.5);
//     border-radius: 5px;
  
//   }

.header-image{
  width: 85%;
  // height: 500px;
}

.icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  ul{
    list-style: none;
    margin: 0;
  }
  li{
    display: inline-block;
    padding: 2em;
    div{
      width: 200px;
    }
  }
  img{
    height: 100px;
    width: 100px;
  }
}

.modulesDisplay{
  background-color: lightgray;
  padding-top: 2em;
  padding-bottom: 2em;
  .screenshot{
    background-image: url("/img/screenshot.png");
    height: 600px;
    width: 33%;
    padding-left: 5em;
  }
  img{
    width: 33%;
  }
}

.signUp{
  padding-top: 2em;
  padding-bottom: 2em;
}

.email{
  margin-bottom: 1em;
}

.password{
  margin-top: 1em;
}

.sign-up-button{
  margin-top: 1.5em;
  margin-left: 5em;
  margin-right: 1em;
}

.sign-in-button{
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.footer{
  //position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  
  ul{
    list-style: none;
    margin: 0;
  }
  li{
    display: inline-block;
    vertical-align: middle;
    padding-left: 2em;
  }
  background-color: darkgray;
}

.learning-body{
  height: 70vh;
  //width: 100%;
  display: flex;
  margin: 5vh;

}


.quiz-content{
  padding: 2em;
  font-family: 'Rubik', sans-serif;

  .writing,.quiz-form{
    overflow: scroll;

    width: 70%;
    height: 500px;
  }

  h1{
    font-family: 'Merriweather', serif;
  }

}

.sidebar-container{
  height: 90%;
  background-color: $blue;
  flex-basis: 20%;
  margin-right: 1em;

  .modules-container{
    background-color: $gray;
    height: 94%;
    margin: 1em;

    ul{
      margin: 0;
      padding: .5em 0 0 0;
    }

    li{
      margin: 0;
      list-style: none;
      display: block;
      margin: auto;
      width: 80%;
    }
  }

  .module-box{
    background-color: white;
    border: solid 1px black;
    margin-top: 1em;
    padding: 1em;

    .checkbox{
      height: 25px;
      width: 25px;
      border: solid 1px black;
      margin-right: .5em;
      display: inline-block;
    }

    p{
      padding: 1em;
      font-size: 20px;
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
    }
  }
}

.quiz-container{
  flex-basis: 80%;
  height: 90%;
  background-color: $gray;
  position: relative;
  padding-right: 1em;

  .quiz-progress{
    
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      background-color: $blue;
    }
    li{
      padding: 0 1em 0 0;
      margin: 0;
      display:inline-block;
      vertical-align: middle;
      text-align: right;
      width: calc(100%/3);
      border-style: solid;
      border-width:  1px 0px 1px 1px;
      font-weight: bold;


      p{
        margin: .5em;
      }
    }
    li:last-of-type{
      border-width:  1px 1px 1px 1px;
    }
    

  }
}

.button-container{
  position: absolute;
  bottom: 0;
  right: 0;

  button{
    border-radius: 0;
    background-color: $red;
    margin: 1em 1em 1em 0;
    font-size: 1em;
    padding: 1em;
    width: 6em;
  }
  button:last-of-type{
    background-color: $green;

  }


  
}

.goldbutton{
  background-color: $gold !important;
}

.current-tab{
  background-color: $green;
}

