$maroon: #411717;
$gold: #f5b447;
$blue: #c3d3e0;
$gray: #f5f6f7;
$green: #90c46a;
$red: #ce8585;

*{box-sizing: border-box;}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
    justify-content: space-between;
    display: flex;
}

.footer{
    //position: absolute;
    /*
    bottom: 0;
    right: 0;
    left: 0;
    */
    ul{
      list-style: none;
      margin: 0;
    }
    li{
      display: inline-block;
      vertical-align: middle;
      padding-left: 2em;
      .logo{
        height: 4em;
      }
    }
    background-color: darkgray;
}