$maroon: #411717;
$gold: #f5b447;
$blue: #c3d3e0;
$gray: #f5f6f7;
$green: #90c46a;
$red: #ce8585;

#bigImage{
  background-image: url("/img/kids_guitar.png");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  // padding: 1em;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    // align-items: center;
    display: flex;
}


#who-we-are {
  color: white;
  padding: 20px 0px 0px 0px;
}

.image-text {
  color: white;
  font-family: 'Merriweather';
}
//   h1{
//     padding: 1em;
//     margin: 0;
//     color: darkgray;
//     font-size: 2em;
//     color: $gold;
//   }

//   .text-container{
//     width: 75%;
//     background-color: rgba(0, 0, 0, 0.5);
//     border-radius: 5px;
  
//   }

.header-image{
  width: 85%;
  // height: 500px;
}

h1, h2 {
  font-family: 'Merriweather';
}

#icons-heading {
  padding: 0px 0px 30px 0px;
  font-family: 'Merriweather';
}

.icon-caption {
  padding: 20px 0px 0px 0px;
}

.icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0px 100px 0px;
  ul{
    list-style: none;
    margin: 0;
  }
  li{
    display: inline-block;
    padding: 2em;
    div{
      width: 200px;
    }
  }
  img{
    height: 100px;
    width: 100px;
  }
}

.modulesDisplay{
  background-color: lightgray;
  padding-top: 2em;
  padding-bottom: 2em;
  .screenshot{
    background-image: url("/img/screenshot.png");
    height: 600px;
    width: 33%;
    padding-left: 5em;
  }
  img{
    width: 33%;
  }
}

.signUp{
  padding-top: 2em;
  padding-bottom: 2em;
}

