.quiz-overview-container{
    height: 600px;

    .quiz-overview{
        background-color: gray;
        text-align: center;
    }

    .begin-button{
        background-color: skyblue;
        align-content: center;
    }
}

.location-quiz-container{
    display: flex;
}

.screenshot-container{
    flex-basis: 50%;
}

.phone-screenshot{
    width: 338px;
    height: 600px;
    background-size: cover;
}

.buttons-container{
    display: flex;
}

#one, #two, #three{
    flex: 1;
    padding: 1em;
    margin-top: .5em;
}

.reveal-container{
    flex-basis: 50%;
    height: 100%;
}

