.location-quiz-container{
    display: flex;
}

.screenshot-container{
    flex-basis: 50%;
}

.phone-screenshot{
    width: 338px;
    height: 600px;
    background-size: cover;
}

#one, #two, #three{
    position: absolute;
    width: 240px ;
    height: 40px ;
}

#one{
    left: 80px;
    top:  368px;
}

.one-selected{
    background-color:gray;
}

#two{
    left: 80px;
    top:  408px;
}

#three{
    left: 80px;
    top:  448px;
}

.reveal-container{
    flex-basis: 50%;
    height: 100%;
}

