.quiz-overview-container{
    height: 600px;

    .quiz-overview{
        text-align: left;
        margin-top: 15%;

        p{
        margin: 2em 0 2em 0;
        }
    }

}

.location-quiz-container{
    display: flex;
}

.screenshot-container{
    flex-basis: 50%;
    height: 90vh;
    img{
        height: 80%;
        text-align: center;
    }

}

.buttons-container{
    display: flex;
}

#one, #two, #three{
    flex: 1;
    padding: 1em;
    margin-top: .5em;
}

.reveal-container{
    flex-basis: 50%;
    height: 100%;
    text-align: left;

    button{
        margin-right: 1em;
    }
}

.text{
    text-align: left;
}